<div id="page-wrapper" class="gray-bg dashbard-1">
  <div class="content-main">

    <!--banner-->
    <div class="banner">
      <div class="row">
        <div class="col-md-6 text-left">
          <h2 style="margin-top: 7px;">
            <a href="/administrator/dashboard">Home</a>
            <i class="fa fa-angle-right"></i>
            <span>Projects</span>
          </h2>
        </div>
        <div class="col-md-6 text-right">
          <a href="create" class="btn btn-primary"><i class="fa fa-plus padded"></i>Create Project</a>
        </div>
      </div>
    </div>
    <!--//banner-->
    <!--grid-->
    <div class="grid-form">
      <div class="grid-form1">
        <h3 id="forms-example" class="">Projects</h3>

        <table id="projects_table">
          <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Code</th>
            <th>Controls</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><a href="http://trio-vervoer.herokuapp.com" target="_blank">Trio Vervoer</a></td>
            <td>Project for truck driving companies...</td>
            <td>b30aa0ac-b974-408d-...
              <a href="#" data-toggle="tooltip" title="Copy code to clipboard"><i class="fa fa-copy"></i></a></td>
            <td>
              <a class="btn btn-default" data-toggle="tooltip" title="Go to project dashboard"><i class="fa fa-eye"></i></a>
              <a class="btn btn-info" data-toggle="tooltip" title="Edit this project"><i class="fa fa-pencil"></i></a>
              <a class="btn btn-danger" data-toggle="tooltip" title="Disable this project"><i class="fa fa-times"></i></a>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
    <!--//grid-->
    <!---->
    <div class="copy">
      <p> &copy; 2016. All Rights Reserved | Developed by <a href="https://www.github.com/MatthewBarnard"
                                                             target="_blank">Matthew Barnard</a></p></div>
  </div>
</div>